<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="tweet_item__avatar" [style.background-image]="getBackground(tweet.avatar)"></div>
        <mat-card-title><a href="https://twitter.com/{{tweet.user}}">@{{tweet.user}}</a></mat-card-title>
        <mat-card-subtitle>{{tweet.fullName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p [innerHTML]="tweet.text | linkify"></p>
        <ng-container *ngIf="tweet.videos.length > 0">
            <p><strong>Video: </strong>
                <span *ngFor="let video of tweet.videos"><a href="{{video}}">Video link </a></span>
            </p>
        </ng-container>
    </mat-card-content>
    <ng-container *ngIf="tweet.images.length > 0">
        <img mat-card-image *ngFor="let image of tweet.images" [src]="image">
    </ng-container>
</mat-card>
