.query-panel__container {
    width: 100%;
    display: flex;
    align-items: center;
}

mat-form-field {
    width: 100%;
}

.query-panel__container > div:first-child {
    flex-basis: 100%;
}


.query-panel__container > div:last-child {
    padding-left: 10px;
    width: 160px;
    display: flex;
    align-items: center;
}

.query-panel__container > div:last-child > div:not([hidden]) {
}

.query-panel__loading-indicator {
    height: 40px;
    width: 40px;
}

.query-panel__loading-indicator > mat-spinner {
    margin: 8px auto;
}
