<div class="query-panel__container" fxLayout="row">
    <div>
        <mat-form-field class="example-chip-list">
            <mat-chip-list #listHashtags>
                <mat-chip *ngFor="let hashtag of hashtags" [selectable]="true"
                          [removable]="true" (removed)="remove(hashtag)">
                    #{{hashtag}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input placeholder="Filter hashtags:"
                       [matChipInputFor]="listHashtags"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="false"
                       (matChipInputTokenEnd)="addChip($event)">
            </mat-chip-list>
        </mat-form-field>
    </div>
    <div>
        <div><mat-checkbox #checkboxVideos>Videos</mat-checkbox></div>
        <div [hidden]="showIndicator"><button mat-icon-button #buttonRefresh><mat-icon>refresh</mat-icon></button></div>
        <div [hidden]="!showIndicator" class="query-panel__loading-indicator"><mat-spinner [diameter]="20"></mat-spinner></div>
    </div>
</div>
