<div class="tweet_list__container">
    <app-query-panel #queryPanel></app-query-panel>
    <mat-card *ngIf="empty$ | async">Please, enter some hashtags</mat-card>
    <div>
        <app-tweet-item *ngFor="let tweet of tweet$ | async" [tweet]="tweet"></app-tweet-item>
    </div>
</div>

